.login-page{
    background-color: #F5F5F5;

    .login-page-content{
        background-color:  #FACFCE;
    
    }
    .login-page-form{
        background-color: white;
        border-radius: 2em 0 0 2em;
    }
    .login-page-header{
        font-weight: bold;
    }
}
