.message-page {
    min-height: 100vh;
    background: linear-gradient(0deg, #e5e8ea 80%, #FACFCE 80%) !important;
    display: flex;

    .message-page-content {
        width: 80%;
        height: 80vh;
        background-color: #f3f5f7;
        margin: auto;
    }

    .message-page-content-profile-picture {
        width: 50px;
        height: 50px;
        border-radius: 90%;
        margin: 0.4em;
        float: left;
    }

    .message-page-content-header {
        height: 65px !important;
        background-color: white;
    }

    .message-page-content-left {
        margin-left: 0;
        height: 100%;
        flex-wrap: nowrap;
    }

    .message-page-content-left-scroll {
        overflow-y: auto !important;
        height: calc(100% - 50px);
    }

    .message-page-content-list {
        background-color: white !important;
        height: calc(100% - 65px);

    }

    .message-page-content-search {
        height: 50px;

        padding: 0.6em;
        width: 100%;
        border-bottom: 1px solid #f3f5f7;


        .message-page-content-search-input {
            height: 100%;
            background-color: #f3f5f7;
            color: #6c6c6c !important;
            border: none;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
                border-color: #E8E8E8 !important;
            }
        }

    }


    .message-page-content-messages-list {
        border-bottom: 1px solid rgb(233, 237, 239);
        padding: 0.2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            border-bottom: 0;
        }

        .message-page-content-coming-message-picture {
            display: flex;
            align-items: center;
        }

        .message-page-content-message-content {
            color: hsl(200deg 7% 47%);
            font-size: 13px;
        }

        .message-page-content-coming-message-list {
            float: left;
            //padding-left: 1em;

            .message-page-content-message-user {
                color: black;
                font-weight: bold;
            }
        }

        .message-page-content-coming-message-time {
            font-size: small;
        }

        .message-page-content-coming-message-count {
            text-align: center;
            background-color: #fbc5df;
            font-size: 12px;
            height: 20px;
            width: 20px;
            margin: auto;
            border-radius: 100%;
            color: white;
            font-weight: bold;

        }
    }

    .message-content {
        margin-bottom: 0 !important;
        .message-search{
            margin-left: -10px;
           width: 98%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5px;
            .send-button{
                border: 0;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    font-weight: 700;
    margin-left: 5px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
            }
           .form-control{
            height: 40px ;
            flex:1;
            &:focus {
                outline: none !important;
                box-shadow: none !important;
                border-color: #E8E8E8 !important;
            }
           }
        }
        .message-list{
            
            height:calc(100% - 50px); 
            //padding: 1em;
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1.5em;
            overflow-y: auto;
        }
        // &::-webkit-scrollbar {
        //     width: 6px;

        //     &-track {
        //         background: #fff;
        //     }

        //     &-thumb {
        //         background: #f3f5f7;

        //         &:hover {
        //             background: #f3f5f7;
        //         }
        //     }
        // }

        &-incoming {
            position: relative;
            margin-left: 0.1em;
            margin-bottom: 0.5em;
            padding: 0.5em 1em;
            background-color: pink;
            max-width: 65%;
            width: fit-content;
            height: 100%;
            text-align: left;
            font: .9em 'Open Sans', sans-serif;
            border: 1px solid pink;
            border-radius: 10px;
            display: block;
    
            span {
                font-size: 13px;
                color: black;
                padding: 0;
                width: 100%;
                height: 100%;
    
            }
    
            &:first-child{
                &:before {
                    content: '';
                    position: absolute;
                    border-top: 19px solid pink;
                    border-left: 22px solid transparent;
                    border-right: 16px solid transparent;
                    top: -1px;
                    left: -17px;

                     
                }
        
               
            }

            + .message-content-sending{
                margin-top: 1em;
                &:before {
                    content: '';
                    position: absolute;
                    border-top: 19px solid #ffd0ed;;
                    border-left: 22px solid transparent;
                    border-right: 16px solid transparent;
                    top: -1px;
                    right: -17px;
                }
        
                &:after {
                    content: '';
                    position: absolute;
                    border-top: 15px solid #ffd0ed;;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    top: 0;
                    right: -15px;
                }
            }
    
        }

        &-sending {
            position: relative;
            margin-bottom: 0.5em;
            margin-left: auto;
            background-color: #ffd0ed;
            max-width: 65%;
            width: fit-content;
            height: 100%;
            text-align: left;
            font: .9em 'Open Sans', sans-serif;
            border: 1px solid #ffd0ed;
            border-radius: 10px;
            padding:0.5em 1em;
            display: block;
            span {
                font-size: 13px;
              
                color: black;
                padding: 0;
                width: 100%;
                height: 100%;
            }
           &:first-child{
            &:before {
                content: '';
                position: absolute;
                border-top: 19px solid #ffd0ed;;
                border-left: 22px solid transparent;
                border-right: 16px solid transparent;
                top: -1px;
                right: -17px;
            }
    
           }
           + .message-content-incoming{
               margin-top: 1em;
            &:before {
                content: '';
                position: absolute;
                border-top: 19px solid pink;
                border-left: 22px solid transparent;
                border-right: 16px solid transparent;
                top: -1px;
                left: -17px;

                 
            }
    
           }
        }
    }

}