.message-page {
    min-height: 100vh;
    background: linear-gradient(0deg, #e5e8ea 80%, #FACFCE 80%) !important;
    display: flex;

    .my-profile-detail {
        position: absolute;
        height: 100%;
        z-index: 1;
        display: flex;
        align-content: flex-start;
        justify-content: space-evenly;
        background-color: white;

        .profile-top-menu {
            display: flex;
            align-items: flex-end;
            padding: 15px;
            background-color: white !important;
            height: 15%;
        }

        .profile-picture {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40%;
            background-color: #facece;

            .profile-img {
                height: 80%;
                border-radius: 100%;
            }
        }

        .update-name {
            margin-top: 10px;

            input {

                border: none;
                width: 80%;
                outline: none !important;
                border-bottom: 1px solid black !important;

                // &:focus{
                //     
                // }
                &:disabled {
                    background-color: white;
                    pointer-events: none;
                    color: #AAA;
                    border: none !important;
                }
            }

        }
    }

    .message-page-content {
        width: 80%;
        height: 80vh;
        background-color: #f3f5f7;
        margin: auto;
    }

    .message-page-content-profile-picture {
        width: 50px;
        height: 50px;
        border-radius: 90%;
        margin: 0.4em;
        float: left;
    }

    .message-page-content-header {
        height: 65px !important;
        background-color: white;
    }

    .message-page-content-left {
        position: relative;
        margin-left: 0;
        height: 100%;
        flex-wrap: nowrap;

        .chat-bg {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .create-new-messages{
            position: absolute;
            right: 10px;
            bottom: 15px;
            border: 1px solid red;
            border-radius: 100%;
            aspect-ratio: 1;
            display: flex;
            width: 35px;
            justify-content: center;
            align-items: center;
        }
    }

    .message-page-content-left-scroll {
        overflow-y: auto !important;
        height: calc(100% - 50px);
    }

    .message-page-content-list {
        background-color: white !important;
        height: calc(100% - 65px);

    }

    .message-page-content-search {
        height: 50px;

        padding: 0.6em;
        width: 100%;
        border-bottom: 1px solid #f3f5f7;


        .message-page-content-search-input {
            height: 100%;
            background-color: #f3f5f7;
            color: #6c6c6c !important;
            border: none;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
                border-color: #E8E8E8 !important;
            }
        }

    }


    .message-page-content-messages-list {
        border-bottom: 1px solid rgb(233, 237, 239);
        padding: 0.2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        &:active{
            background-color: #f7f7f7;
            border-radius: 10px;
        }

        &:last-child {
            border-bottom: 0;
        }

        .message-page-content-coming-message-picture {
            display: flex;
            align-items: center;
        }

        .message-page-content-message-content {
            color: hsl(200deg 7% 47%);
            font-size: 13px;
        }

        .message-page-content-coming-message-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 10px;

            .message-page-content-message-user {
                color: black;
                font-weight: bold;
            }
        }

        .message-page-content-coming-message-time {
            font-size: small;
        }

        .message-page-content-coming-message-count {
            text-align: center;
            background-color: #fbc5df;
            font-size: 12px;
            height: 20px;
            width: 20px;
            margin: auto;
            border-radius: 100%;
            color: white;
            font-weight: bold;

        }
    }

    .message-content {
        position: relative;

        .user-popup-button {
            margin-left: auto;

        }

        .user-profile-top-menu {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;

            height: 60px;
            width: calc(100% - 12px);
            background-color: #d1d3d5;
            display: flex;
            align-items: center;
        }

        .user-profile-detail {
            background-color: #a8a8a8;
            position: absolute;
            right: 12px;
            top: 0;
            z-index: 1;
            height: 100%;

            .user-detail-close-button {
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }

        margin-bottom: 0 !important;

        .messages-time {
            opacity: .5;
            font-size: 10px;
            display: flex;
            justify-content: flex-end;
            padding-top: 2px;
        }

        .messages-date {
            color: #808080;
            font-size: 12px;
        }

        .message-search {
            margin-left: -10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5px;

            .send-button {
                border: 0;
                height: 35px;
                width: 35px;
                border-radius: 100%;
                font-weight: 700;
                margin-left: 5px;
                background: pink;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .form-control {
                height: 40px;
                flex: 1;

                &:focus {
                    outline: none !important;
                    box-shadow: none !important;
                    border-color: #E8E8E8 !important;
                }
            }
        }

        .message-list {
            height: calc(100% - 50px);
            padding: 70px 15px 0 8px;
            overflow-y: auto;
        }

        &-incoming {
            position: relative;
            margin-left: 0.1em;
            margin-bottom: 0.5em;
            padding: 0.5em 1em;
            background-color: #29468a;
            max-width: 65%;
            width: fit-content;
            height: 100%;
            text-align: left;
            font: .9em 'Open Sans', sans-serif;
            border: 1px solid #29468a;
            border-radius: 10px;
            display: block;

            span {
                font-size: 13px;
                color: white;
                padding: 0;
                width: 100%;
                height: 100%;

            }

            &:first-child {
                &:before {
                    content: "";
                    position: absolute;
                    border-top: 20px solid #29468a;
                    border-left: 20px solid transparent;
                    border-right: 0;
                    top: -1px;
                    left: -10px;

                }

            }

            +.message-content-sending {
                margin-top: 1em;

                &:before {
                    content: "";
                    position: absolute;
                    border-top: 20px solid #699fef;
                    border-left: 0;
                    border-right: 20px solid transparent;
                    top: -1px;
                    right: -10px;
                }

            }

        }

        &-sending {
            color: red !important;
            position: relative;
            margin-bottom: 0.5em;
            margin-left: auto;
            background-color: #699fef;
            max-width: 65%;
            width: fit-content;
            height: 100%;
            text-align: left;
            font: .9em 'Open Sans', sans-serif;
            border: 1px solid #699fef;
            border-radius: 10px;
            padding: 0.5em 1em;
            display: block;

            span {
                font-size: 13px;
                color: white;
                padding: 0;
                width: 100%;
                height: 100%;
            }

            &:first-child {
                &:before {
                    content: "";
                    position: absolute;
                    border-top: 20px solid #699fef;
                    border-left: 0;
                    border-right: 20px solid transparent;
                    top: -1px;
                    right: -10px;
                }

            }

            +.message-content-incoming {
                margin-top: 1em;

                &:before {
                    content: "";
                    position: absolute;
                    border-top: 20px solid #29468a;
                    border-left: 20px solid transparent;
                    border-right: 0;
                    top: -1px;
                    left: -10px;


                }

            }
        }
    }

}